<div ng-style="{'height':'100%'}" layout="column" layout-fill  ng-controller="comicsController">
<header>
       <md-toolbar class='md-medium' ng-style="{'background-color':'rgb(33,150,243)'}" >
         <div class="md-toolbar-tools" ng-controller="currentUserController">
             <h1>Comics THOR    </h1><md-icon md-svg-icon="assets/icons/thor-hammer.svg"></md-icon>  <img src="assets/img/header.jpg" alt="image caption" align="right" ng-style="{'margin-left':'20%','border-bottom-left-radius':'20px','border-bottom-right-radius':'20px'}">  </md-icon>

             <span  align="right" ng-style="{'margin-left':'10%'}">
               <h1> <a href="" ng-click="showAdvanced($event)">Hello  {{currentUser().nickName}}</a></h1>

               <md-button class="md-fab md-mini md-accent md-hue-1">
                 <md-tooltip md-direction="left">
                    Admin Tools
                </md-tooltip>
                  <md-icon md-svg-icon="assets/icons/admin-icon.svg"></md-icon>
                </md-button>
                <md-button class="md-fab md-mini md-accent md-hue-1" ng-click="logout()">
                  <md-tooltip md-direction="left">
                     Logout
                 </md-tooltip>
                   <md-icon md-svg-icon="assets/icons/logout_door.svg"></md-icon>
                 </md-button>
             </span>
         </div>
       </md-toolbar>
   </header>
   <section layout="row" flex>
   <md-sidenav class="md-sidenav-left md-whiteframe-z5" md-component-id="left" md-is-locked-open="true" ng-style="{'width':'200'}">

     <md-toolbar>
       <md-button class="md-raised" ng-click="predicate=''">
         All
         <md-tooltip md-direction="right">
            Show all comics unsorted
        </md-tooltip>
       </md-button>
       <md-button class="md-raised" ng-click="order('ranking')">Top Ranked
         <md-tooltip md-direction="right">
            Sort by user ranking
        </md-tooltip>
         <span class="sortorder" ng-show="predicate === 'ranking'" ng-class="{reverse:reverse}"></span>
       </md-button>
       <md-button class="md-raised" ng-click="showRecommendedOnly=!showRecommendedOnly">Recommended
         <md-tooltip md-direction="right">
            Show only our recommended comics!
        </md-tooltip>
       </md-button>
       <md-button class="md-raised" ng-click="order('searches')">Top Searches
         <md-tooltip md-direction="right">
            Sort by most searched
        </md-tooltip>
                <span class="sortorder" ng-show="predicate === 'searches'" ng-class="{reverse:reverse}"></span>
      </md-button>

     </md-toolbar>

     <md-content >
       <md-input-container >
           <label>Search</label>
            <md-icon md-svg-src="assets/icons/search.svg"></md-icon>
           <input  ng-model="sidebar.search">
         </md-input-container>
         <md-input-container class="md-block" flex-gt-sm>
            <label>Character</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Genre</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Editions</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>
     </md-content>
   </md-sidenav>

   <md-content flex  layout="column">


     <div>
       <md-content ng-controller="comicsController"  >
          <md-tabs md-dynamic-height class="md-primary md-hue-1 maxedtab"  md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}" ng-style="'height':'100%'">

            <md-tab id="comicsTab" >
              <md-tab-label><b>Comics</b></md-tab-label>
              <md-tab-body>
                <div  layout="row">
                  <md-card ng-show="(comic.recommended && showRecommendedOnly) || (!showRecommendedOnly)" ng-style="{'width':'30%'}" ng-repeat="comic in listacomics |filter:sidebar.search |orderBy:predicate:reverse">
                            <md-card-content>
                                 <img src="{{comic.image}}" class="md-card-image" alt="image caption">
                                     </md-card-content>
                                    <md-card-title>
                                      <md-card-title-text>
                                        <span class="md-headline">{{comic.title}}</span>
                                        <span class="md-subhead">{{comic.description}}</span>
                                        <span class="md-subhead">${{comic.price}}</span>
                                      </md-card-title-text>
                                      <md-card-title-media>
                                        <div class="md-media-sm card-media"></div>
                                      </md-card-title-media>
                                    </md-card-title>
                                    <md-chips ng-show="comic.recommended">
                                          <md-chip>Recommended</md-chip>
                                    </md-chips>
                                    <md-progress-linear md-mode="determinate" value="{{comic.ranking * 10}}">
                                      <md-tooltip md-direction="top">
                                        {{comic.ranking * 10}}
                                     </md-tooltip>
                                    </md-progress-linear>

                                    <md-card-actions layout="row" layout-align="end center">


                                      <md-button class="md-primary md-raised">Borrow</md-button>
                                      <md-button class="md-accent md-raised">Buy it now!</md-button>
                                    </md-card-actions>
                                  </md-card>
                  </div>
              </md-tab-body>
            </md-tab>


            <md-tab id="tab1" >
              <md-tab-label><b>Genres</b></md-tab-label>
              <md-tab-body>

               TODO:Tabs Content
              </md-tab-body>
            </md-tab>

            <md-tab id="tab2">
              <md-tab-label><b>Editions</b></md-tab-label>
              <md-tab-body>

              </md-tab-body>
            </md-tab>

            <md-tab id="tab3">
              <md-tab-label><b>Characters</b></md-tab-label>
              <md-tab-body>
              Tab 3
              </md-tab-body>
            </md-tab>



          </md-tabs>
        </md-content>
     </div>
   </md-content>
 </section>

 <footer ng-style="{'background-color':'dodgerblue'}">
       <div >
          <a href="/#"> <md-icon md-svg-src="assets/icons/facebook.svg">  </md-icon></a>│
          <a href="/#"> <md-icon md-svg-src="assets/icons/twitter.svg">   </md-icon></a>│
          <a href="/#"> <md-icon md-svg-src="assets/icons/googleplus.svg"></md-icon></a>│
          <a href="/#"> Sitemap    </a> │
          <a href="/#"> Disclaimer </a> │
       </div>
 </footer>
</div>
